@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:wght@300&family=Patua+One&display=swap");
* {
  font-family: "Open Sans";
}

.recipecard {
  box-shadow: 0px 0px 27px 10px #888888;
  background-color: #f5f5dc;
}

.cardimage {
  width: 14rem;
  display: flex;
  margin: auto;
  margin-top: 1rem;
}

.cardtitle {
  width: fit-content;
  margin: 0 auto;
}

.removebutton {
  align-items: center;
  background-color: #906bba;
  border-color: #906bba;
  font-family: "Bitter", serif;
}

.removebutton:hover {
  background-color: #c91b30;
  border-color: #c91b30;
}
