@import url("https://fonts.googleapis.com/css2?family=BioRhyme:wght@300&family=Bitter:wght@300&family=Raleway:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=BioRhyme:wght@300&family=Bitter:wght@700;900&family=Raleway:wght@800&display=swap");
.recipecard {
  box-shadow: 14px 14px 15px 2px #c1c1c1;
  background-color: white;
  border-radius: 7%;
}

.cardimage {
  width: 13rem;
  display: flex;
  margin: auto;
  margin-top: 1rem;
}

.cardtitle {
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  font-family: "Bitter", serif;
  font-weight: 700;
  margin-bottom: auto;
}

.addbutton {
  align-items: center;
  font-family: "Bitter", serif;
  background-color: #75a242;
  border-color: #75a242;
  margin: 15px;
}
.addbutton:hover {
  background-color: #638938;
  border-color: #638938;
}
.addbutton:disabled {
  background-color: gray;
  border-color: gray;
}

.removebutton {
  align-items: center;
  background-color: #906bba;
  border-color: #906bba;
  font-family: "Bitter", serif;
  margin: 15px;
}

.removebutton:hover {
  background-color: #c91b30;
  border-color: #c91b30;
}
