@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:wght@300&family=Patua+One&display=swap");
* {
  font-family: "Open Sans";
}
.navbar {
  background-color: #eef9d8;
}
.recipecard {
  box-shadow: 0px 0px 27px 10px #888888;
  background-color: #f5f5dc;
}

.cardimage {
  width: 14rem;
  display: flex;
  margin: auto;
  margin-top: 1rem;
  border: 5px solid #f8f8e7;
}

.cardtitle {
  width: fit-content;
  margin: 0 auto;
  text-align: center;
}

.cardbutton {
  align-items: center;
  margin: 0 auto;
}
