@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:wght@300&family=Patua+One&display=swap");

.container {
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #ffff00;
  padding: 10px;
}

/*.logo {
  height: 2em;
} */
/* .about-header {
  font-family: "Lobster", cursive;
  font-size: 4em;
} */
.about-details {
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
  margin: 20px;
}
.about-instructions {
}
