@import url("https://fonts.googleapis.com/css2?family=BioRhyme:wght@300&family=Bitter:wght@300&family=Raleway:wght@800&display=swap");

.container {
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #906bba;
  padding: 10px;
  font-family: "Bitter", serif;
}

.about-details {
  font-size: 1.5em;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.about-context {
  margin: 2em;
  text-align: center;
}
.about-instructions {
  text-align: left;
  margin: 0 auto;
}
