@import url("https://fonts.googleapis.com/css2?family=BioRhyme:wght@300&family=Bitter:wght@300&family=Raleway:wght@800&display=swap");

.searchiconimg {
  max-width: 2em;
}

.searchbutton {
  background-color: white;
  border: #b9b9b9;
}

.searchbutton:hover {
  background-color: #b9b9b9;
}
.searchbutton:focus {
  background-color: #b9b9b9;
}

.d-flex {
  font-family: "Bitter", serif;
  border-color: #b9b9b9;
}
