.searchiconimg {
  max-width: 2em;
}

.searchbutton {
  background-color: white;
  border: white;
}

.searchbutton:hover {
  background-color: rgb(107, 228, 20);
}
.searchbutton:focus {
  background-color: rgb(107, 228, 20);
}
