/* .searchbar {
  position: absolute;
  right: 40%;
  transform: translate(0, -50%);
  background-color: green;
} */

.searchiconimg {
  max-width: 1em;
  height: auto;
}

.searchForm {
  display: flex;
  justify-content: center;
  align-items: center;
}
