@import url("https://fonts.googleapis.com/css2?family=BioRhyme:wght@300&family=Raleway:wght@800&display=swap");

.brand {
  height: 3.1em;
  margin-top: -5px;
}

span {
  margin: 1em;
  color: #363636;
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 0.8em;
}

span:hover {
  color: #75a242;
}

.navbar {
  background-color: white;
  border-bottom: #b9b9b9;
}
