.header {
  display: flex;
  position: relative;
  height: 50px;
  background-color: aqua;
  align-items: center;
}
.headerLogo {
  position: absolute;
  left: 10px;
  align-items: center;
}

.nav-items {
  position: absolute;
  right: 0px;
  padding: 1em;
}
.nav-item {
  padding: 2em;
}

.navbarimg {
  max-width: 3em;
  max-height: auto;
}
