@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:wght@300&family=Patua+One&display=swap");
.brand {
  height: 3em;
}

.navbarimg {
  height: 2.5em;
}

span {
  margin: 1em;
  color: rgb(72, 71, 71);
  display: inline-block;
}

span:hover {
  color: rgb(107, 228, 20);
}
