@import url("https://fonts.googleapis.com/css2?family=BioRhyme:wght@300&family=Bitter:wght@700;900&family=Raleway:wght@800&display=swap");

.grocerycontainer {
  font-size: smaller;
  border: 2px solid #906bba;
  flex-direction: row;
  overflow-y: scroll;
  position: absolute;
  top: 15%;
  left: 15%;
  width: 70%;
  height: 80%;
  background-color: #f5f5f5;
  padding: 4%;
}

.recipecontainer {
  display: flex;
  flex-direction: row;
  border: 1px solid #e3e3e3;
  background-color: white;
}

.titlecolumn {
  border-right: 1px solid #e3e3e3;
  display: flex;
  align-items: center;
  width: 35%;
  justify-content: center;
  font-family: "Bitter", serif;
  font-weight: 700;
  font-size: medium;
  color: #75a242;
}

.ingredientcolumn {
  display: flex;
  flex-direction: column;
  flex: 1;
  font-family: "Bitter", serif;
  padding: 2%;
}

.ingredientcontainer {
  border: 2px solid blue;
  margin: 2px;
}

/* .tablecontainer {
  top: 20%;
  left: 25%;
  width: 50%;
  height: 75%;
  position: absolute;
  display: flex;
  overflow-y: auto;
}

.tablelist {
  background-color: #eef9d9;
  color: #82857a;
  border: 2px solid #906bba;
  height: 300px;
}

table {
  margin: 0 auto;
}

tr {
  border: 2px solid #906bba;
}
th {
  border: 3px solid #906bba;
}

td {
  border: 1px solid #906bba;
}  */
