@import url("https://fonts.googleapis.com/css2?family=BioRhyme:wght@300&family=Bitter:wght@700;900&family=Raleway:wght@800&display=swap");
.tablecontainer {
  top: 20%;
  left: 25%;
  width: 50%;
  height: 75%;
  position: absolute;
  display: flex;
  overflow-y: auto;
}

.tablelist {
  background-color: #eef9d9;
  color: #82857a;
  border: 2px solid #906bba;
  height: 300px;
}

table {
  margin: 0 auto;
}

tr {
  border: 2px solid #906bba;
}
th {
  border: 3px solid #906bba;
}

td {
  border: 1px solid #906bba;
}

.tableheader {
  font-family: "Raleway", sans-serif;
}
